<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Training_Blog::blog_manager" title="Blog" translate="title" sortOrder="10">
                    <resource id="Training_Blog::list" title="List Blog" translate="title" sortOrder="10" />
                    <resource id="Training_Blog::save" title="Save Blog" translate="title" sortOrder="20" />
                    <resource id="Training_Blog::delete" title="Delete Blog" translate="title" sortOrder="30" />
                    <resource id="Training_Blog::massUpdate" title="Mass Update Blog" translate="title" sortOrder="40" />
                    <resource id="Training_Blog::massDelete" title="Mass Delete Blog" translate="title" sortOrder="50" />
                </resource>
            </resource>
        </resources>
    </acl>
</config>
